body{
background-color: #F5F5F5;
font-family: Ubuntu, sans-serif;
}

h1{
color: #545454;
}

#container{
display: box;
min-height: 1000px;
height: 50%;
width: 40%;
border-radius: 15px;
background-color: #f2f2f2;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
margin-top: 0%;
font-size: 2em;
color: #696969;
}


#footer{
font-size: 0.5em;
color: #5e5e5e;
}

a{
font-size: 0.5em;
}

